<h1>Pirates</h1>

<h1><%= @pirate.name %></h1>
<%= @pirate.weight %>
<%= @pirate.height %>

<h1>Ships</h1>
<% @ships.each do |ship| %>
<h2><%= ship.name %></h2>
<h2><%= ship.type %></h2>
<h2><%= ship.booty %></h2>
<% end %>
